<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-gefahrenatlas" >
	<tr>
		<td>
			<f:translate key="tx_gefahrenatlas_domain_model_meldung.kategorie" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_gefahrenatlas_domain_model_meldung.ort_lat" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_gefahrenatlas_domain_model_meldung.ort_lon" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_gefahrenatlas_domain_model_meldung.ort_zoom" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_gefahrenatlas_domain_model_meldung.strasse" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_gefahrenatlas_domain_model_meldung.beschreibung" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_gefahrenatlas_domain_model_meldung.video" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_gefahrenatlas_domain_model_meldung.bild" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_gefahrenatlas_domain_model_meldung.email" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_gefahrenatlas_domain_model_meldung.melder" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_gefahrenatlas_domain_model_meldung.nutzungsbedingungen" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>